---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#1f2937" />
    <link rel="stylesheet" href="/styles/tailwind.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Handyman Cruz</title>
  </head>
  <body class="bg-neutral-950 text-white font-sans tracking-tight overflow-x-hidden">
    <Header />
    <main class="pt-20">
      <slot />
    </main>
    <Footer />
  </body>
</html>
